{% extends "base.html.twig" %}

{% block title %}
	[Yummy]Recipes - Acceuil
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<div class="jumbotron">
			<h1 class="display-4">Welcome to [Yummy]Recipes!</h1>
			<p class="lead">[Yummy]Recipes is your culinary sidekick! With this app, you become the master chef, crafting delicious recipes using your very own ingredients. Whip up a storm and share your culinary creations with the community, or keep your secret recipes under lock and key!</p>
			<hr class="my-4">
			<p>To get the party started, head on over to the signup page!</p>
			<p class="lead">
				<a class="btn btn-primary btn-lg flex" href='{{ path ('app_security.signup') }}' role="button">Sign up</a>
			<a class="btn btn-primary btn-lg flex" href='{{ path ('app_security.login') }}' role="button">Login</a>
			</p>
		</div>
	</div>
{% endblock %}
