{% extends 'base.html.twig' %}

{% block title %} [Yummy]Recipe - Update your informations{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-4">Update Your informations here! </h1>
    {{ form(form) }}
</div>
{% endblock %}